body {
  /* background-color: #c4fb6d; */
  background-color: #94d3ac;
  min-height: 70vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(198, 1%, 29%);
  /* font-family: "Josefin Sans", sans-serif; */
  /* font-family: "Amatic SC", cursive; */
  font-family: "Crimson Text", "Josefin Sans", serif;
  text-align: center;
  font-size: 130%;
  padding-top: 180px;
}

.container {
  /* width: 100%; */
  width: 800px;
  height: auto;
  min-height: 500px;
  max-width: 500px;
  min-width: 250px;
  background: #ddf3f5;
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
}
.heading {
  align-items: center;
  font-family: "Dancing Script", cursive;
  margin-bottom: 1rem;
}
.heading h1 {
  padding: 0.1rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  font-size: 2.1rem;
}

.form input {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0.7rem;
  border: solid 3px transparent;
  border-bottom: solid 3px #40bad5;
  font-family: "Josefin Sans", sans-serif;
  /* font-family: "Amatic SC", cursive; */
  font-size: 1.3rem;
  color: hsla(260, 2%, 25%, 0.7);
  width: 70%;
  margin-bottom: 20px;
}

button {
  padding: 0;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  padding-bottom: 3px;
  border-radius: 5px;
  background-color: #ddf3f5;
}
button span {
  background: #ddf3f5;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid hsl(198, 1%, 29%);
}

li {
  text-align: left;
  position: relative;
  padding: 0.5rem;
}

ul {
  padding-left: 80px;
}
